{%- comment -%}
  Homepage sections - Main content
{%- endcomment -%}

<main role="main" id="MainContent">
  {%- section 'video-hero' -%}
  {%- section 'text-bubbles' -%}
  {%- section 'featured-collection' -%}
  {%- section 'image-with-text' -%}
  {%- section 'newsletter' -%}
</main>