{%- comment -%}
  Homepage sections - Main content
{%- endcomment -%}

<main role="main" id="MainContent">
  {%- section 'video-hero' -%}
  {%- section 'text-bubbles' -%}
  {%- comment -%}Commented out sections that don't exist yet{%- endcomment -%}
  {%- comment -%}{%- section 'featured-collection' -%}{%- endcomment -%}
  {%- comment -%}{%- section 'image-with-text' -%}{%- endcomment -%}
  {%- comment -%}{%- section 'newsletter' -%}{%- endcomment -%}
  {% section 'main-home' %}
</main>